/* General */
$scale:12.7px;                    /* main font size */
$borderRadius:12px;             /* border radius of layout element e.g. card, sidebar */
$transitionDuration:.3s;        /* transition duration of layout elements e.g. sidebar, overlay menus */
